<div>
    <div class="container">
        <hr />

        <div class="row">
            <h1>Admin Centre</h1>
        </div>

        <hr />

        <div class="row">

            <div class="col-md-4 form-group">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">Company List File</span>
                    <input class="form-control" id="studentCompanyList" type="file" aria-describedby="basic-addon1" name="companyList" value="" />
                </div>
            </div>

            <div class="col-md-2">
                <button type="button" class="btn btn-block btn-primary" ng-click="readFile()">Load CSV</button>
            </div>

            <div class="col-md-2">
                <button type="button" class="btn btn-block btn-danger" ng-class="{'disabled' : !csvLoaded, '' : csvLoaded}" ng-click="updateToDatabase()">Submit</button>
            </div>

            <div class="col-md-2">
                <button type="button" class="btn btn-block btn-success" ui-sref="adminStudents">View Current</button>
            </div>
        </div>

        <hr />

        <div class="row" ng-show="csvLoaded">
            <div class="col-md-10 col-md-offset-1">
                <table id="tempTable">
                    <thead>
                        <tr>
                            <th>Email</th>
                            <th>Company 1</th>
                            <th>Company 2</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="student in studentArray">
                            <td>{{student[0]}}</td>
                            <td>{{student[1]}}</td>
                            <td>{{student[2]}}</td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>

        <div class="row" ng-hide="csvLoaded">
            <div class="alert alert-success" role="alert">Please always upload a .csv file. (Use Excel spreadsheet and save as CSV) The columns should be Email, Company1 and Company 2 <b>in order</b>. First row should be headings and from second row onwards data should be added.</div>
            <div class="alert alert-danger" role="alert">After uploading, click on the Load CSV button. Then a table with the data will be shown. After validating, click on the Submit button. All the <b>previous data will be erased and replaced</b> from the new data.</div>
        </div>
    </div>
</div>